@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

html body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.jumbotron {
    min-height: 80vh;
}

.jumbotron img {
    width: 500px;

}

.header {
    padding-top:20px;
    padding-bottom:20px;
    background-color: #00468d!important;
}

.navbar-toggler {
    margin:1rem;
}

.nav-link{
    font-size: 18;
    color:#ffffff;
}
.nav-link:hover{
    padding-left:30px;
    font-size: 18;
    color:#ffffff;
}

#navbarSupportedContent {
    margin-left:30px;
}

.navbar p{
    margin-bottom: 0;
    color:#ffffff;
}

.dropdown-menu .dropdown-item a{
    color: black;
}

.navbar-custom {
    background-color: #00468d!important;
}

.jumbotron{
    background-color: #ffffff!important;
}

.jumbotron h1{
    margin-bottom: 5rem;
}

.jumbotron h3{
    margin-bottom: 1rem;
}

img {
    height: auto;
    max-width: 100%;
}

.footer {
    color: #ffffff;
    padding:20px;
    background-color: #00468d;
}


.footer p{
    margin:0rem;
}



.intern {
    margin-bottom: 5rem;
}

#display-item {
    border: none;
    background-color: transparent;
}
.p-card p {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .p-card p.selective:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #more-content {
    display: none;
  }
  #more-content table{
    display: none;
  }
  #selective {
    cursor: pointer;
  }