@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

html body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.jumbotron {
    min-height: 80vh;
}

.jumbotron img {
    width: 500px;

}

.header {
    padding-top:20px;
    padding-bottom:20px;
    background-color: #00468d!important;
}

.navbar-toggler {
    margin:1rem;
}

.nav-link{
    font-size: 18;
    color:#ffffff;
}
.nav-link:hover{
    padding-left:30px;
    font-size: 18;
    color:#ffffff;
}

#navbarSupportedContent {
    margin-left:30px;
}

.navbar p{
    margin-bottom: 0;
    color:#ffffff;
}

.dropdown-menu .dropdown-item a{
    color: black;
}

.navbar-custom {
    background-color: #00468d!important;
}

.jumbotron{
    background-color: #ffffff!important;
}

.jumbotron h1{
    margin-bottom: 5rem;
}

.jumbotron h3{
    margin-bottom: 1rem;
}

img {
    height: auto;
    max-width: 100%;
}

.footer {
    color: #ffffff;
    padding:20px;
    background-color: #00468d;
}


.footer p{
    margin:0rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}
  
  table tr{
    border-bottom: solid 2px #00468d;
    border-bottom: none;
  }
  
  table th{
    position: relative;
    width: 30%;
    background-color: rgba(0, 32, 74, 0.273);
    color: white;
    text-align: center;
  }
  
  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid rgba(0, 32, 74, 0.273);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    width: 45%;
    text-align: center;
    background-color: #207dda;
    padding: 10px 0;
  }
  
  .main {
    align-items: center;
    width: 80%;
  }

  .tb {
    padding-left:3rem;
  }

.intern {
    margin-bottom: 5rem;
}

#display-item {
    border: none;
    background-color: transparent;
}